  body {
      text-align: center;
      font-size: medium;
      font-family: cursive;
      background-color: linear-gradient( Pink);
  }
  img {
      width: 400px;
      height: 400px;
  }
  